*{
  margin: 0;
  padding: 0;
}

.logIn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}

.logIn-container h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 2.5em;
}

.logIn-form {
  background: white;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.logIn-form div {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.logIn-form label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

.logIn-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.logIn-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logIn-form button:hover {
  background-color: #0056b3;
}
